
<div *ngIf="tren">
    <h2><span jhiTranslate="entidadApp.tren.detail.title">Tren</span> {{tren.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="entidadApp.tren.numero">Numero</span></dt>
        <dd>
            <span>{{tren.numero}}</span>
        </dd>
        <dt><span jhiTranslate="entidadApp.tren.viajeros">Viajeros</span></dt>
        <dd>
            <span>{{tren.viajeros}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tren/'+ tren.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
